@page "/"
@inject IApiService _apiSerivce;


<PageTitle>Telemetry Graph Dashboard</PageTitle>

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <RadzenText TextAlign="TextAlign.Center" TextStyle="TextStyle.DisplayH5">Latest reading</RadzenText>
            <RadzenText TextStyle="TextStyle.Subtitle1" TextAlign="TextAlign.Center">@ShownTime</RadzenText>
            <RadzenCard class="mb-4 background-article" Style="display: flex; align-items: center; gap: 0.5rem; justify-content: center;">
                <RadzenCard class="card-background" Style="height: 12vh; width: 12vw; text-align: center;">
                    <RadzenText TextStyle="TextStyle.H5" TextAlign="TextAlign.Center"><strong>Temperature</strong></RadzenText>
                    <RadzenRow RowGap="0" JustifyContent="JustifyContent.Center">
                        <RadzenText TextStyle="TextStyle.DisplayH6">@Measurement.Temperature <b>°</b></RadzenText>
                    </RadzenRow>
                </RadzenCard>
                <RadzenCard class="card-background" Style="height: 12vh; width: 12vw; text-align: center;">
                    <RadzenText TextStyle="TextStyle.H5" TextAlign="TextAlign.Center"><strong>Humidity</strong></RadzenText>
                    <RadzenRow RowGap="0" JustifyContent="JustifyContent.Center">
                        <RadzenText TextStyle="TextStyle.DisplayH6">@Measurement.Humidity <b>%</b></RadzenText>
                    </RadzenRow>
                </RadzenCard>
                <RadzenCard class="card-background" Style="height: 12vh; width: 12vw; text-align: center;">
                    <RadzenText TextStyle="TextStyle.H5" TextAlign="TextAlign.Center"><strong>Turn on LED</strong></RadzenText>
                    <RadzenRow RowGap="0" JustifyContent="JustifyContent.Center">
                        <RadzenSwitch @bind-Value="@IsToggled" Change="@(args => OnSwitchChange(args))"></RadzenSwitch>
                    </RadzenRow>
                </RadzenCard>
            </RadzenCard>

            <RadzenText TextAlign="TextAlign.Center" TextStyle="TextStyle.DisplayH4">@Title</RadzenText>
            <RadzenChart class="background-article">
                <RadzenLineSeries Stroke="rgb(255,229,180)" Smooth="@smooth" Data="@Measurements" CategoryProperty="Time" Title="Temperature" LineType="LineType.Solid" ValueProperty="Temperature">
                    <RadzenMarkers MarkerType="MarkerType.Circle" />
                </RadzenLineSeries>
                <RadzenLineSeries Stroke="rgb(222, 126, 93)" Smooth="@smooth" Data="@Measurements" CategoryProperty="Time" Title="Humidity" LineType="LineType.Solid" ValueProperty="Humidity">
                    <RadzenMarkers MarkerType="MarkerType.Circle" />
                </RadzenLineSeries>
                @if (showLatestHour || showLatestDay)
                {
                    <RadzenCategoryAxis Padding="20" Formatter="@FormatAsHour" />
                }
                else if (showLatestWeek)
                {
                    <RadzenCategoryAxis Padding="20" Formatter="@FormatAsMonth" />
                }
                <RadzenValueAxis>
                    <RadzenGridLines Visible="true" />
                    <RadzenAxisTitle Text="Reading values" />
                </RadzenValueAxis>
                <RadzenLegend Position="LegendPosition.Bottom" />
            </RadzenChart>

            <RadzenCard class="w-100 mb-4 background-article" Style="display: flex; align-items: center; gap: 0.5rem; justify-content: center;">
                <RadzenButton Click="ShowLatestHour" ButtonStyle="ButtonStyle.Warning" Shade="Shade.Lighter" Text="Latest hour" IsBusy="IsBusy" BusyText="Loading"></RadzenButton>
                <RadzenButton Click="ShowLatestDay" ButtonStyle="ButtonStyle.Warning" Shade="Shade.Lighter" Text="Latest day" IsBusy="IsBusy" BusyText="Loading"></RadzenButton>
                <RadzenButton Click="ShowLatestWeek" ButtonStyle="ButtonStyle.Warning" Shade="Shade.Lighter" Text="Latest week" IsBusy="IsBusy" BusyText="Loading"></RadzenButton>
            </RadzenCard>
        </div>
    </div>
</div>

@code {
    #region PROPERTIES
    bool smooth = false;
    bool showLatestHour = false;
    bool showLatestDay = false;
    bool showLatestWeek = false;

    List<double> TempMeasurements { get; set; } = new();
    List<double> HumidityMeasurements { get; set; } = new();
    List<MeasurementDTO> Measurements { get; set; } = new();
    MeasurementDTO Measurement { get; set; } = new();
    string ShownTime { get; set; }
    string Title { get; set; }
    bool IsToggled { get; set; } = false;
    bool IsBusy { get; set; } = false;
    #endregion

    string FormatAsMonth(object value)
    {
        if (value != null)
        {
            return Convert.ToDateTime(value).ToLocalTime().ToString("ddd");
        }
        return string.Empty;
    }

    string FormatAsHour(object value)
    {
        if (value != null)
        {
            return Convert.ToDateTime(value).ToLocalTime().ToString("HH:mm");
        }
        return string.Empty;
    }

    protected override async Task OnInitializedAsync()
    {
        List<Measurement> measurements = await _apiSerivce.GetAllMeasurements();
        foreach (var measurement in measurements)
        {
            Measurements.Add(measurement.MapToDTO());
        }
        Title = "All measurements";
        showLatestWeek = true;
        TempMeasurements = Measurements.Select(x => x.Temperature).ToList();
        HumidityMeasurements = Measurements.Select(x => x.Humidity).ToList();

        Measurement tempMeasurement = await _apiSerivce.GetLatestMeasurement();
        Measurement = tempMeasurement.MapToDTO();
        ShownTime = Measurement.Time.ToLocalTime().ToString("dddd dd/MM, HH:mm");
    }

    public async Task ShowLatestHour()
    {
        #region SETUP
        showLatestHour = true;
        showLatestDay = false;
        showLatestWeek = false;
        IsBusy = true;

        Measurements.Clear();
        TempMeasurements.Clear();
        HumidityMeasurements.Clear();
        #endregion

        List<Measurement> measurements = await _apiSerivce.GetMeasurementsLatestHour();
        foreach (var measurement in measurements)
        {
            Measurements.Add(measurement.MapToDTO());
        }
        Title = "All measurements in the last hour";
        TempMeasurements = Measurements.Select(x => x.Temperature).ToList();
        HumidityMeasurements = Measurements.Select(x => x.Humidity).ToList();
        IsBusy = false;
    }

    public async Task ShowLatestDay()
    {
        #region SETUP
        showLatestDay = true;
        showLatestHour = false;
        showLatestWeek = false;
        IsBusy = true;

        Measurements.Clear();
        TempMeasurements.Clear();
        HumidityMeasurements.Clear();
        #endregion

        List<Measurement> measurements = await _apiSerivce.GetMeasurementsLatestDay();
        foreach (var measurement in measurements)
        {
            Measurements.Add(measurement.MapToDTO());
        }
        Title = "All measurements in the last day";
        TempMeasurements = Measurements.Select(x => x.Temperature).ToList();
        HumidityMeasurements = Measurements.Select(x => x.Humidity).ToList();
        IsBusy = false;
    }

    public async Task ShowLatestWeek()
    {
        #region SETUP
        showLatestWeek = true;
        showLatestDay = false;
        showLatestHour = false;
        IsBusy = true;

        Measurements.Clear();
        TempMeasurements.Clear();
        HumidityMeasurements.Clear();
        #endregion

        List<Measurement> measurements = await _apiSerivce.GetMeasurementsLatestWeek();
        foreach (var measurement in measurements)
        {
            Measurements.Add(measurement.MapToDTO());
        }
        Title = "All measurements in the last week";
        TempMeasurements = Measurements.Select(x => x.Temperature).ToList();
        HumidityMeasurements = Measurements.Select(x => x.Humidity).ToList();
        IsBusy = false;
    }

    async void OnSwitchChange(bool value)
    {
        if (value)
        {
            await _apiSerivce.TurnOnLedAsync("HIGH");
        }
        else if (!value)
        {
            await _apiSerivce.TurnOnLedAsync("LOW");
        }
    }
}